version: '3.8'
services:
  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend1:
    build: ./backend/server1
    container_name: backend1
    ports:
      - "8001:8001"
    env_file:
      - ./backend/server1/.env
    depends_on:
      - mongo

  backend2:
    build: ./backend/server2
    container_name: backend2
    ports:
      - "8002:8002"
    env_file:
      - ./backend/server2/.env
    depends_on:
      - mongo

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./frontend/dist:/usr/share/nginx/html
    depends_on:
      - backend1
      - backend2


volumes:
  mongo-data:
