/* Базові стилі */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

/* Центрування контейнера */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Карточка */
.card {
  background: white;
  padding: 25px;
  width: 350px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  border-radius: 10px;
}

/* Заголовки */
.card h1 {
  margin: 0 0 20px;
  text-align: center;
  font-size: 24px;
}

/* Інпут */
.input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 15px;
  box-sizing: border-box;
}

.input:focus {
  border-color: #007bff;
  outline: none;
}

/* Кнопки */
.btn {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background: #0056c7;
}

/* Текст-посилання */
.link {
  display: block;
  text-align: center;
  margin-top: 12px;
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}


.logout-btn {
  margin-top: 15px;
  padding: 8px 14px;
  background: #ff4b4b;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.logout-btn:hover {
  background: #d72f2f;
}
